!!!
%html
    %head
  
        %script{:type => "text/javascript", :src  => "js/jquery.js"}
        %script{:type => "text/javascript", :src  => "js/ace/ace.js"}
        %script{:type => "text/javascript", :src  => "js/ace/mode-scss.js"}
        %script{:type => "text/javascript", :src  => "js/onload.js"}

        %link(rel="stylesheet" href="css/reset.css")
        %link(rel="stylesheet" href="css/style.css")
        
%body

    %a#info{:href => "#"}
        More info

    #book
        #wood
            #paper
                #left
                    #input
                #right
                    #output
            %p#shadow
                %img{:alt => "", :src => "css/img/shadow.png"}/
                
    #content
        %h1 
            %a{:href => "http://css2less.cc/"}
        
        %h2 WTF ?

        %p This tool has been thought for front-end developers who are tired of working with CSS. Here you can quickly convert your old CSS files to fresh new LESS files. As easy as copy/paste. You can also convert files locally by running the Ruby gem (see git repository above).
        
        %h2 Credits
        
        %p Css2Less is based on the work of Sickill (https://github.com/sickill/css2less). It's brought to you by Thomas Pierson (http://thomaspierson.fr/) & Nico Prat (https://twitter.com/#!/nicooprat). This service run on Sinatra and has been built with HAML & LESS (guess what) with the help of the excellent ACE Editor (http://ace.ajax.org/).
        
        %h2 Questions ?
        
        %p
            %strong LESS is cool. What about other awesomenesses ?
            You could also check out css2sass (http://css2sass.heroku.com/), js2coffee (http://js2coffee.org/) and html2haml (http://html2haml.heroku.com/). What a wonderful world.
        
        %p
            %strong Get in touch
            You can report bugs, propose ideas and participate on our Github repository.
        
        %p
            %strong Why .cc ?
            We finally decided that CC should mean Communist Compiler. Ya, we've a lot of imagination. If you know the real signification, please tell us. Anyway, it looks nice, doesn't it ?
        
        %p
            %strong What about Internet Explorer ?
            Unfortunately, ACE Editor doesn't really support Internet Explorer. Not our fault ! But I'm sure you're not using it...