%form{ :action => "farandole", :method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "css"} Message:
        %textarea{:name => "css"}
    %input{:type => "submit", :value => "Go", :class => "button"}
