!!!
%html
    %head
  
        %script{:type => "text/javascript", :src  => "js/jquery.js"}
        %script{:type => "text/javascript", :src  => "js/ace/ace.js"}
        %script{:type => "text/javascript", :src  => "js/ace/mode-scss.js"}
        %script{:type => "text/javascript", :src  => "js/onload.js"}

        %link(rel="stylesheet" href="css/reset.css")
        %link(rel="stylesheet" href="css/style.css")
        
%body

    #book
        #wood
            #paper
                #left
                    #input
                #right
                    #output
            %p#shadow
                %img{:alt => "", :src => "css/img/shadow.png"}/
    
    #example
        #input
            ldhflsdjfmsdjfm